.search-panel {
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    padding-top: 50px;
}

.result-panel {
    margin-top: 204px;
}

#spinner {
    position: fixed;
    left: 20px;
    top: 20px;
}